/* CSS HEX */
--night: #0b0c10ff;
--gunmetal: #1f2733ff;
--silver: #c5c6c7ff;
--fluorescent-cyan: #66fcf1ff;
--verdigris: #45a29eff;

/* CSS HSL */
--night: hsla(228, 19%, 5%, 1);
--gunmetal: hsla(216, 24%, 16%, 1);
--silver: hsla(210, 2%, 78%, 1);
--fluorescent-cyan: hsla(176, 96%, 69%, 1);
--verdigris: hsla(177, 40%, 45%, 1);

/* SCSS HEX */
$night: #0b0c10ff;
$gunmetal: #1f2733ff;
$silver: #c5c6c7ff;
$fluorescent-cyan: #66fcf1ff;
$verdigris: #45a29eff;

/* SCSS HSL */
$night: hsla(228, 19%, 5%, 1);
$gunmetal: hsla(216, 24%, 16%, 1);
$silver: hsla(210, 2%, 78%, 1);
$fluorescent-cyan: hsla(176, 96%, 69%, 1);
$verdigris: hsla(177, 40%, 45%, 1);

/* SCSS RGB */
$night: rgba(11, 12, 16, 1);
$gunmetal: rgba(31, 39, 51, 1);
$silver: rgba(197, 198, 199, 1);
$fluorescent-cyan: rgba(102, 252, 241, 1);
$verdigris: rgba(69, 162, 158, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0b0c10ff, #1f2733ff, #c5c6c7ff, #66fcf1ff, #45a29eff);
$gradient-right: linear-gradient(90deg, #0b0c10ff, #1f2733ff, #c5c6c7ff, #66fcf1ff, #45a29eff);
$gradient-bottom: linear-gradient(180deg, #0b0c10ff, #1f2733ff, #c5c6c7ff, #66fcf1ff, #45a29eff);
$gradient-left: linear-gradient(270deg, #0b0c10ff, #1f2733ff, #c5c6c7ff, #66fcf1ff, #45a29eff);
$gradient-top-right: linear-gradient(45deg, #0b0c10ff, #1f2733ff, #c5c6c7ff, #66fcf1ff, #45a29eff);
$gradient-bottom-right: linear-gradient(135deg, #0b0c10ff, #1f2733ff, #c5c6c7ff, #66fcf1ff, #45a29eff);
$gradient-top-left: linear-gradient(225deg, #0b0c10ff, #1f2733ff, #c5c6c7ff, #66fcf1ff, #45a29eff);
$gradient-bottom-left: linear-gradient(315deg, #0b0c10ff, #1f2733ff, #c5c6c7ff, #66fcf1ff, #45a29eff);
$gradient-radial: radial-gradient(#0b0c10ff, #1f2733ff, #c5c6c7ff, #66fcf1ff, #45a29eff);